body {
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333333; /* Dark Grey */
}

header {
    background-color: #CCFF00; /* Lime Green */
    color: #FFFFFF; /* White */
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333333; /* Dark Grey */
}

nav a {
    color: #FFFFFF; /* White */
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #DDDDDD; /* Light Grey */
    color: #000000; /* Black */
}

.content {
    padding: 20px;
}

#quote {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

#canvasDiv {
    text-align: center;
}

.quote-container {
    max-width: 600px;
    margin: 0 auto;
}

blockquote {
    font-style: italic;
    font-size: 1.2em;
    color: #333333; /* Dark Grey */
}

footer {
    margin-top: 10px;
    font-size: 0.8em;
}

canvas {
    display: block;
    left: 0 px;
    top: 0 px;
    width: 647px; 
    height: 400px; 
    position: relative;
}

/* Ensure all text elements are dark grey */
h1, h2, h3, h4, h5, h6, p, li, a {
    color: #333333; /* Dark Grey */
}
